h1,h2,h3,h4,h5,h6 {
  font-family: 'CabinRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
#site-footer {
  font-family: 'CabinRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
ul.main-menu li,
ul.quicktabs-tabs li {
  font-family: 'CabinBold', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.front .region-content .node,
.region-header .block ul.menu li,
.region-sidebar-first .block .view .item-list ul li,
.triptych-wrapper .block .view .item-list ul li,
.event-block .views-row,
.quicktabs_main,
.region-header-top,
.more-link {
  font-family: 'CabinRegular', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-weight: normal;
}

@font-face {
    font-family: 'CabinRegular';
    src: url('../../fonts/cabin/Cabin-Regular-webfont.eot');
    src: url('../../fonts/cabin/Cabin-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabin/Cabin-Regular-webfont.woff') format('woff'),
         url('../../fonts/cabin/Cabin-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/cabin/Cabin-Regular-webfont.svg#CabinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinItalic';
    src: url('../../fonts/cabin/Cabin-Italic-webfont.eot');
    src: url('../../fonts/cabin/Cabin-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabin/Cabin-Italic-webfont.woff') format('woff'),
         url('../../fonts/cabin/Cabin-Italic-webfont.ttf') format('truetype'),
         url('../../fonts/cabin/Cabin-Italic-webfont.svg#CabinItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMedium';
    src: url('../../fonts/cabin/Cabin-Medium-webfont.eot');
    src: url('../../fonts/cabin/Cabin-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabin/Cabin-Medium-webfont.woff') format('woff'),
         url('../../fonts/cabin/Cabin-Medium-webfont.ttf') format('truetype'),
         url('../../fonts/cabin/Cabin-Medium-webfont.svg#CabinMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinMediumItalic';
    src: url('../../fonts/cabin/Cabin-MediumItalic-webfont.eot');
    src: url('../../fonts/cabin/Cabin-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabin/Cabin-MediumItalic-webfont.woff') format('woff'),
         url('../../fonts/cabin/Cabin-MediumItalic-webfont.ttf') format('truetype'),
         url('../../fonts/cabin/Cabin-MediumItalic-webfont.svg#CabinMediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBold';
    src: url('../../fonts/cabin/Cabin-SemiBold-webfont.eot');
    src: url('../../fonts/cabin/Cabin-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabin/Cabin-SemiBold-webfont.woff') format('woff'),
         url('../../fonts/cabin/Cabin-SemiBold-webfont.ttf') format('truetype'),
         url('../../fonts/cabin/Cabin-SemiBold-webfont.svg#CabinSemiBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinSemiBoldItalic';
    src: url('../../fonts/cabin/Cabin-SemiBoldItalic-webfont.eot');
    src: url('../../fonts/cabin/Cabin-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabin/Cabin-SemiBoldItalic-webfont.woff') format('woff'),
         url('../../fonts/cabin/Cabin-SemiBoldItalic-webfont.ttf') format('truetype'),
         url('../../fonts/cabin/Cabin-SemiBoldItalic-webfont.svg#CabinSemiBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBold';
    src: url('../../fonts/cabin/Cabin-Bold-webfont.eot');
    src: url('../../fonts/cabin/Cabin-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabin/Cabin-Bold-webfont.woff') format('woff'),
         url('../../fonts/cabin/Cabin-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/cabin/Cabin-Bold-webfont.svg#CabinBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CabinBoldItalic';
    src: url('../../fonts/cabin/Cabin-BoldItalic-webfont.eot');
    src: url('../../fonts/cabin/Cabin-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/cabin/Cabin-BoldItalic-webfont.woff') format('woff'),
         url('../../fonts/cabin/Cabin-BoldItalic-webfont.ttf') format('truetype'),
         url('../../fonts/cabin/Cabin-BoldItalic-webfont.svg#CabinBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

